.categories-list {
  display: flex;
  list-style: none;
  gap: 1.2rem;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
  color: #b7b7b7;
  margin-top: 1.25rem;
}
.categories-list button {
  border-radius: 1.25rem;
  padding: 8px 15px;
  background-color: inherit;
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
  font-size: 0.825rem;
  font-weight: 500;
}
.title {
  display: flex;
  justify-content: space-between;
  color: #b7b7b7;
  margin-bottom: 0.3125rem;
}
.title button {
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
  color: #b7b7b7;
}

button.active {
  background-color: #248880;
  color: #fff;
}
