.logo {
  display: flex;
  align-items: center;
  color: #fd781a;
  font-size: 0.6rem;
  gap: 0.3125rem;
  justify-content: center;
}
.logo-icon {
  font-size: 1.2rem;
}
.menu {
  display: none;
}
@media (max-width: 1023px) {
  .logo-title {
    display: none;
  }
  .logo-icon {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .logo {
    gap: 0;
  }
  .logo-icon {
    font-size: 2rem;
    display: none;
  }
  .menu {
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
