/* .slider {
  width: 100%;
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  width: 25%;
  height: 100%;
  cursor: pointer;
  background-size: cover;
  border: 4px outset rgba(231, 239, 245, 0.2) !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.slide .action {
  display: none;
}
.active {
  width: 40%;
  height: 100%;
  border-radius: 1.25rem !important;
  border: 1px outset rgba(231, 239, 245, 0.8) !important;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.slide span {
  display: none;
}

.action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
}
.action h3 {
  color: #dbdbdb;
  font-weight: 500;
  font-size: 1rem;
}
.action p {
  font-weight: 400;
  color: #dbdbdb;
  font-size: 0.8rem;
}
.action button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #dbdbdbcb;
  border: none;
  padding-left: 0.2125rem;
  padding-top: 0.2rem;
  font-size: 1.2rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 834px) and (orientation: portrait) {
  .slider {
    height: 22vh;
  }
}
@media (max-width: 450px) {
  .slider {
    height: 18vh;
  }
} */

.slider {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.slider img {
  height: 120%;
}
.slide {
  width: 25%;
  height: 60%;
  flex-shrink: 3;
  overflow: hidden;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: relative;
  transition: transform 0.3s ease;
}

.activeSlide {
  height: 100%;
  position: relative;
  width: 40%;
  overflow: hidden;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all linear 0.1s;
  border-radius: 20px !important;
}

.activeSlide img {
  width: auto;
  height: 100%;
}
.center {
  height: 80%;
  position: relative;
  width: 25%;
  flex-shrink: 3;
  overflow: hidden;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all linear 0.1s;
}
.btns {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btns button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.562);
  padding-top: 10px;
}
.action h3 {
  color: #dbdbdb;
  font-weight: 500;
  font-size: 1rem;
}
.action p {
  font-weight: 400;
  color: #dbdbdb;
  font-size: 0.8rem;
}
.action button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #dbdbdbcb;
  border: none;
  padding-left: 0.2125rem;
  padding-top: 0.2rem;
  font-size: 1.2rem;
}
.center .action {
  display: none;
}
.slide .action {
  display: none;
}
@media (max-width: 768px) {
  .slider {
    height: 22vh;
  }
}
@media (max-width: 450px) {
  .slider {
    height: 18vh;
  }
}
